html {
  font-family: 'Open Sans';
}

.navBarLogo {
  width: 55%;
}

.navBarLogoMobile {
  width: 100%;
}

.footerLogo {
  width: 20%;
}

.profileCardImage {
  width: 100%;
}

.projectImage {
  width: 100%;
  border-radius: 16px;
}

.languageIcon {
  width: 70%;
}